certifi==2019.11.28
click==7.1.1
Flask==1.1.1
gunicorn==20.0.4
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
numpy==1.18.2
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
pyzmq==19.0.0
Werkzeug==1.0.0
zmq==0.0.0